<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config/>

    <context:component-scan base-package="com.vladmihalcea"/>

    <context:property-placeholder location="/META-INF/spring/jdbc.properties"/>

    <bean id="dataSource" class="org.postgresql.jdbc2.optional.SimpleDataSource">
        <property name="serverName" value="${jdbc.serverName}"/>
        <property name="databaseName" value="${jdbc.databaseName}"/>
        <property name="portNumber" value="${jdbc.portNumber}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

</beans>
